<div style="background-image: linear-gradient(to bottom, #ffffff, #eeebff, #dcd7ff, #cac4ff, #b6b1ff, #b6b1ff, #b6b1ff, #b6b1ff, #cac4ff, #dcd7ff, #eeebff, #ffffff);">
<div class="pt3">
  <div class="mw7 center ph2">
    <div class="db ph5-m mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 style="color: #000099;" class="f2 f1-l b di lh-title mb3 white mw6 ">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p style="color: #000099;" class="b f4 di lh-title mb3 white mw6 ">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
 <div class=" mw7 center ph3 ">
<img src='{{.imageUrl}}' alt="{{ .image1.alt }}" style=" width: 800px;" class=" ph5-m vh-400-m ">
  </div>
  </div>
</div>
