<nav class="overflow-x-scroll overflow-x-visible-ns pb1-m flex justify-between items-center center bg-white  divider-grey relative h2-m">

	<!-- Primary Nav -->
	<ul class="flex b pb2-m grey-3">
                <li><a href="/" class=" pa3 pb1-m no-underline db">Home</a></li>
		
		<li><a href="/values" class=" pa3 pb1-m no-underline db">About</a></li>
		
		<li><a href="/products" class=" pa3 pb1-m no-underline db">Gallery</a></li>

		<li><a href="/post" class=" pa3 pb1-m no-underline db">Blog</a></li>

		<li><a href="/contact" class=" pa3 pb1-m no-underline db">Contact</a></li>
	</ul>

</nav>
